@model IEnumerable<testingproject3.Models.PurchaseHistories>

@{
    ViewData["Title"] = "Index";
}

<h1>My Purchase Histories</h1>
<br />
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th nowrap="nowrap">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a asp-controller="PurchaseHistory" asp-action="Index" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />


    <style>

        .dataTables_filter > label {
            background-color: #ff8c00;
            color: #fff;
        }
        a.page-link {
            background-color: #ff8c00 !important;
            
        }
    </style>

    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                columnDefs: [{
                    targets: [0],
                    orderData: [0, 1]
                }]
            });
        });
    </script>
}