@model IEnumerable<CAProjectV2.Models.WishList>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="~/css/button.css" rel="stylesheet" />
*@<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/main.css" rel="stylesheet" />


@{
    ViewData["Title"] = "WishList";
    List<WishList> items = (List<WishList>)ViewData["Data"];
    <link href="~/css/wishlist.css" rel="stylesheet" />
    @*    Layout = "~/Views/Shared/_Layout.cshtml";
    *@
}

@section Scripts
{
    <script src="/js/wishitem.js"></script>

}


@*========================================================================================================================*@
<div class="container_addtoCart">
    <h1><b>My WishList</b></h1>

    <div class="shopping-cart">

        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity" style=" padding-top: 21px;"> </label>
            <label class="product-removal"> WPA</label>
        </div>

        @foreach (var item in items)
        {
    <div class="product">
        <div class="product-image">
            <img src="@Html.DisplayFor(modelItem => item.Product.ImageUrl)" height="100" width="100" />
        </div>

        <div class="product-details">
            <div class="product-title">@item.Product.ProductName</div>
            <div class="product-description_long">@item.Product.Description</div>
        </div>

        <div class="product-price">@item.Product.Price</div>

        @*<div class="product-removal_button">
            <button class="wishbutton" type="submit" value=@item.Product.Id>Remove</button>
        </div>*@
        <div class="product-quantity">
            <form asp-area="" asp-controller="ShoppingCartItems" asp-action="Addinginwishlist" method="post">

                <input type="hidden" name="ProductId" value=@item.Product.Id />
                <button type="submit" class="btn btn-outline-secondary" style=" width: 100px; height: 30px; font-size: 13px; text-align: center;">Add to Cart</button>
            </form>
        </div>
        

        <div class="product-removal">
            <button class="wishbutton" type="submit" value=@item.Product.Id style="outline : none">Remove</button>
        </div>

    </div>
        }
    </div>
</div>
